<style>
    .nofade{
        opacity: 1 !important;
    }
    .right-margin{
        margin-right: 10px;
    }
    .navbar{
        border-radius: 0;
    }
    </style>
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="/home">FatEar</a>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/home"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/friend"></span>Manage Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/follow"></span>Manage Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/post"></span>See Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/search"></span>Search Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/playlist"></span>Add playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "/logout"></span>Logout</a>
                </li>
              </ul>
    </div>
</nav>
