<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="Username" required/> </br>
	<input type="password" name = "password" placeholder="Password" required/></br>
	<input type="First Name" name = "First Name" placeholder="First Name" required/></br>
	<input type="Last Name" name = "Last Name" placeholder="Last Name" required/></br>
	<input type="nickname" name = "nickname" placeholder="Nickname" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
