<!DOCTYPE html>
<html>
    <head>
        <title>FatEar Search</title>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>
    <body>
        <h1><center>FatEar</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:1000px">
            <input type="text" placeholder="Search by song" name="song">
            <input type="text" placeholder="Search by artist (First Name)" name ="artistFName">
            <input type="text" placeholder="Search by artist (Last Name)" name ="artistLName">
            <input type="text" placeholder="Search by Album" name ="album">
            <input type="text" placeholder="Search by a Song Rating Threshold" name ="rating">
            <input type="text" placeholder="Search by Genre" name ="genre">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
        {% for item in data %}
            <tr>
                <td> <b style="color:#185252; font-size: 20px;"s>{{item.title}}</b> </td>
                </br>
                <td> released on <b>{{item.releaseDate}}</b></td>    
                </br> 
                <td> by <b>{{item.fname}} {{item.lname}}</b> </td> 
                </br> 
                <td> present in the album <b>{{item.albumName}}</b> </td>
                {% if item.stars %}
                </br>
                <td> is rated <b>{{item.stars}}</b> on average </td>
                {% endif %}
                </br>
                <td> URL: <b><a href= "{{item.songURL}}"> {{item.songURL}} </a></b> </td>
            </br>
            <td> belongs to the  <b>{{item.genre}}</b> genre </td>
                </br>
            </br>
            </tr>
        {% endfor %}
        </center>

        <center>
            {% if error %}
            <p class="error" style="color:red;"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </center>
    
    </center>
    </body>
</html>